{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            What stock do you want to sell
            <select  class="form-control mx-auto w-auto" name="symbol" type="text">
                <option value=""disabled selected>Select a stock</option>
                {% for holding in holdings%}
                <option value = {{holding}}>{{holding}}</option>
                {% endfor %}
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="No. of Shares:" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell Shares</button>
    </form>
{% endblock %}
